.project
.vscode
.CommandBox
.settings
.classpath

CFIDE
cfide
WEB-INF

/target
/temp/
/manual/
/bin/
/migrator/sql/
/vendor/testbox/
/vendor/wirebox/
/vendor/wheels/

settings.json
settings.xml
*.db
.env
/public/files
/app/lib
*.log
/public/images
