.project
.vscode
.CommandBox
.settings
.classpath

CFIDE
cfide
WEB-INF

/target
/temp/
/manual/
/bin/
/migrator/sql/
/vendor/testbox/
/vendor/wirebox/
/vendor/wheels/

settings.json
settings.xml
*.db
/app/lib
*.log
/public/images
/plu

# Exclude everything in public/files
/public/files/*

# But keep the json folder inside public/files
!public/files/
!/public/files/json/
!/public/files/json/**
