:root {
    --primary: #ef3b2d;
    --primary-rgb: 239, 59, 45;
    --secondary: #0c1620;
    --secondary-rgb: rgba(12, 22, 32, 1);
    --body: #f9f9f9;
    --iris: #5454d4;
    --lightGray: #9d9d9d;
    --success: #6BE89D;
    --input: #F7F6F4;
}

.text--primary {
    color: var(--primary)
}

.important\:text--primary {
    color: var(--primary) !important
}

.bg--primary {
    background-color: var(--primary)
}

.bg--primary\/10 {
    background-color: rgba(var(--primary-rgb), .1)
}

.border--primary\/10 {
    border-color: rgba(var(--primary-rgb), .1)
}

button.bg--primary:hover{
    background-color: rgba(var(--primary-rgb), .8)
}

.border--primary {
    border: 1px solid var(--primary)
}

.form-check-input-primary:checked{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.form-check-input-primary:focus{
    border-color: var(--primary) !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--primary-rgb), .25) !important;
}

.text--secondary {
    color: var(--secondary)
}

.text--secondary\/70 {
    color: rgba(var(--secondary-rgb), .7)
}

.bg--secondary {
    background-color: var(--secondary)
}

.text--lightGray {
    color: var(--lightGray)
}

.bg--iris {
    background-color: var(--iris)
}

.border--iris {
    border: 1px solid var(--iris)
}

.text--iris {
    color: var(--iris)
}

.fill--iris {
    fill: var(--iris)
}

.table--iris {
    --bs-table-bg: var(--iris)
}

.table--primary {
    --bs-table-bg: var(--primary)
}

.table--primary\/10 {
    --bs-table-bg: rgba(var(--primary-rgb), .1)
}

.bg-white\/10 {
    background-color: rgba(255, 255, 255, .1)
}

.bg--success{
    background-color: var(--success);
}

.bg--input{
    background-color: var(--input);
}