*,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

html {
    line-height: 1.5;
}

body {
    line-height: inherit;
    position: relative;
    overflow-x: hidden;
    background-color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

nav {
    backdrop-filter: blur(5px);
}

.nav-bg {
    background-color: rgba(255, 255, 255, 0.8);
}

/* navbar */
.navbar-nav .nav-link.active {
    font-weight: bold;
}


/* main */
main.main {
    background-image: url('../images/main-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

main.main-bg {
    background-image: url('../images/main-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* hero section */

.hero-section {
    padding: 10rem 0 6rem 0;
}

.hero-section::before,
.hero-section::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero-section::after {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.85) 0%,
            rgba(249, 249, 249, 255) 100%);
}

.hero-section::before {
    background-image:
        linear-gradient(#B3B3B3 2px, transparent 2px),
        linear-gradient(to right, #B3B3B3 2px, #F9F9F9 2px);
    background-size: 100px 100px;
}

/* cards */

.icon-container {
    border: 1.13px solid #6464FF;
    background: rgba(84, 84, 212, 0.1);
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

.cards:hover {
    border-color: rgba(var(--primary-rgb), 0.2);
    ;
}

/* Latest blogs */
.blog-main {
    background: linear-gradient(to bottom, rgba(106, 101, 255, 0) 0%, rgba(106, 101, 255, 0.2) 85%);
}

.swiper-slide {
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.swiper-slide:hover button {
    box-shadow: 0px 0px 24px 0px #6A65FFBF;
    transition: all 300ms ease-in-out;
}

.swiper-slide:hover {
    border-color: var(--iris);
    transition: all 300ms ease-in-out;
}

/* Blogs */
#filtersContainer #Categories p:hover,
#filtersContainer #Archives p:hover {
    background-color: rgba(179, 179, 179, 0.12);
}

#filtersContainer #Categories p.active,
#filtersContainer #Archives p.active {
    background-color: rgba(179, 179, 179, 0.12);
    font-weight: bold !important;
}

/* Our guide */

.gudie-main {
    background-color: var(--secondary);
}

#wheels-debug-area {
    display: none;
}

/* Blog comments */
.parent_comment::after {
    content: '';
    position: absolute;
    height: 90%;
    background: black;
    width: 1px;
    top: 48px;
    left: 2%;
}

.sub_comments::after {
    content: '';
    position: absolute;
    background: black;
    width: 48px;
    height: 1px;
    top: 43%;
    left: -4.8%;
}

.blogs .filter-button.active, .api .filter-button.active{
    background-color: var(--iris) !important;
    color: white !important;
    border-color: var(--iris) !important;
}

.blogs .filter-button.active svg, .api .filter-button.active svg{
    display: block !important;
}

/* accordion override */
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


.section .accordion-button:not(.collapsed){
    font-weight: 600 !important;
    color: var(--iris) !important;
}

.section .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235454D4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.section .accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235454D4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.parent_accordion::after {
    content: '';
    position: absolute;
    height: 100%;
    background: rgba(179, 179, 179, 0.3);
    width: 1px;
    top: 16px;
    left: 3%;
}

.child_accordion::after {
    content: '';
    position: absolute;
    height: 100%;
    background: rgba(179, 179, 179, 0.3);
    width: 1px;
    top: 0px;
    left: 9%;
}

/* bootstrap overide*/

.no-dropdown-arrow::after{
    border: none !important;
}

/* api */

.api-filter-buttons button.active{
    background-color: var(--iris) !important;
    color: white !important;
    border-color: var(--iris) !important;
}

.opencollective-banner{
    height: 150px;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 40px;
}
.tag {
    background-color: #d3d4d6;
    color: #4c4646;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 3px;
    display: flex;
    align-items: center;
}
.tag .remove-tag {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}
.tag-input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
}

.select2-container--bootstrap-5 .selection .select2-selection--multiple .select2-selection__rendered{
    display: flex !important;
}

.select2-container--bootstrap-5 .selection .select2-selection--multiple .select2-selection__rendered li{
    font-size: 14px !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results .select2-results__options li{
    font-size: 14px !important;
    margin-bottom: 5px !important;
}