LUCEE_EXTENSIONS=BEC20D47-3268-1B354-C0E8E70B5CBC15A1;name=PostgreSQL;version=42.7.4

environment=development
reloadPassword=CHANGE_ME

cfconfig_adminPassword=CHANGE_ME

application_host=https://wheels.dev
datasource=wheels.dev

wheelsdev_host=CHANGE_ME
wheelsdev_port=26257
wheelsdev_databasename=wheels_db
wheelsdev_username=CHANGE_ME
wheelsdev_password=CHANGE_ME
wheelsdev_clob=true
wheelsdev_connectionlimit=100
wheelsdev_storage=true

wheelsdev_storage=true
sessionStorage=wheels.dev
sessionCluster=true

test_case=false
mail_from=noreply@wheels.dev

smtp_host=smtp.postmarkapp.com
smtp_port=587
smtp_username=CHANGE_ME
smtp_password=CHANGE_ME
smtp_ssl=false
smtp_tls=true

# ID Obfuscation Salt
wheels_id_salt=CHANGE_ME

# Sentry Error Reporting
# DSN format: https://<public_key>@<host>/<project_id>
SENTRY_DSN=CHANGE_ME
SENTRY_ENVIRONMENT=production
